@model IEnumerable<Blog.Models.Post>


@foreach (var item in Model)
{
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr><h2 class="intro-text text-center">@item.Title</h2><hr>
                @if (item.Images.Count > 0)
                {
                    <img class="img-responsive img-border img-left" src="~/upload/img/@item.Images[0].FileName" alt="">
                }
                <hr class="visible-xs">
                <p>@item.PostText</p>
            </div>
        </div>
    </div>
}

@*<button class="open-button" onclick="openFormAddPost()">Открыть форму</button>

<div class="form-popup" id="addPost">
    <form id="isFormAddPost" class="form-container">

        <h3>Добавить пост</h3>

        <label for="PostTitle">Введите логин</label>
        <input type="text" placeholder="Введите заголовок поста" id="titlepost" name="titlepost" required>


        <label for="name"><b>Фото</b></label>
        <input type="file" placeholder="Фото" id="photopost" name="photopost">

        <label for="name"><b>Текст</b></label>
        <input type="text" placeholder="Введите заголовок поста" id="textpost" name="textpost" required>

        <button id="buttonSendPost" type="button" class="btn" onclick="formAddPost()">Отправить</button>
        <button type="button" class="btn cancel" onclick="closeFormAddPost()">Закрыть</button>
    </form>
</div>*@

@*<div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Build a website
                    <strong>worth visiting</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="~/img/intro-pic.jpg" alt="">
                <hr class="visible-xs">
                <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>*@